<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Whether it's a first anniversary or a golden one,
     you can help celebrate their joyous occasion (or yours!) with special
     anniversary flowers & gifts from 1-800-Flowers.com. Choose a simple
     bouquet of beautiful carnations, the official 1st anniversary flower, or
    a lush arrangement of over three dozen long-stem red roses for a 15th anniversary.
    No matter how many years of wedding bliss you're celebrating, our selection of
    anniversary flowers, chocolate-dipped strawberries or gourmet wine baskets
    are always a good choice.</p>
  </div>
</div>